    .bo {
        margin-top: 0%;
        border: 2px solid #123d4a;
        padding: 20px 20px 20px 100px;
        background-image: url(bacc.jpeg);
        margin-bottom: 0%;
    }
    
    .cs {
        border: 1px solid #123d4a;
        padding: 5px 5px;
        margin-bottom: 0%;
        background-color: rgb(90, 90, 232);
    }
    
    .h {
        border: 1px solid #123d4a;
        padding: 4px 4px;
        margin-top: 0%;
        margin-bottom: 0%;
        background-color: lightblue;
    }
    
    .foot {
        border: 3px solid #123d4a;
        background-color: lightblue;
        padding-bottom: 100px;
    }
    
    .sec {
        border: 1px solid lightblue;
        margin-left: 100px;
        margin-bottom: 10px;
    }
    
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 60px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #4f77cb;
        color: white;
    }
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    
    .fa-youtube {
        background-color: red;
        color: white;
    }
    
    .fa-linkedin {
        background: #007bb5;
        color: white;
    }
    
    .fa-instagram {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        color: white;
    }